Identificador de Propostas com IA.json
{
  "name": "Identificador de Propostas com IA",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "q": "subject:(lead OR inscrição OR proposta OR propostas OR negócio OR negócios OR orçamento OR cotação OR compra OR contratação OR parceria OR comercial OR vendas OR interesse OR consulta)"
        }
      },
      "id": "09a09e71-4fb3-445d-8006-819b57b22ce8",
      "name": "Monitor New Leads",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        2240,
        2064
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "crmSpreadsheetId",
              "value": "YOUR_GOOGLE_SHEETS_ID",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "slackChannel",
              "value": "YOUR_SLACK_CHANNEL_ID",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "followUpDays",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "44730e3b-0581-49c9-974a-288eba00b38d",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        2064
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "leadName",
              "value": "={{ $json.From ? $json.From.split('<')[0].trim() : 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "leadEmail",
              "value": "={{ $json.From ? ($json.From.includes('<') ? $json.From.split('<')[1].split('>')[0] : $json.From) : '' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "emailSubject",
              "value": "={{ $json.Subject || 'Sem assunto' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "emailBody",
              "value": "={{ $json.snippet || 'Sem conteúdo' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "receivedDate",
              "value": "={{ $json.internalDate ? new Date(parseInt($json.internalDate)).toISOString() : new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "287c222e-d1ab-4043-a43b-ed0c8b41a95b",
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        2064
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "2e9deac7-b040-484c-8b4a-ed8bc721f511",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2928,
        2176
      ],
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"leadTemperature\": \"quente\",\n\t\"reason\": \"Menciona orçamento e quer comprar\",\n\t\"summary\": \"Cliente interessado em preços do plano empresarial\"\n}"
      },
      "id": "29470778-cbd6-4911-bb57-b43cf24daa16",
      "name": "Lead Qualification Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3056,
        2176
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead Name: {{ $json.leadName }}\nLead Email: {{ $json.leadEmail }}\nSubject: {{ $json.emailSubject }}\nMessage: {{ $json.emailBody }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um assistente de qualificação de leads. Analise as informações do lead e classifique-os como \"quente\" ou \"frio\".\n\nCritérios de classificação:\n- Lead QUENTE: Menciona orçamento, preço, compra, contrato, proposta, cotação, ou demonstra intenção imediata de compra\n- Lead FRIO: Apenas pede informações, consultas gerais, ou não demonstra intenção imediata de compra\n\nForneça:\n1. leadTemperature: \"quente\" ou \"frio\"\n2. reason: Breve explicação para a classificação\n3. summary: Resumo de uma frase sobre o interesse do lead"
        }
      },
      "id": "d15baba6-e4dc-451c-9519-6bb967d4bac9",
      "name": "Qualify Lead with AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2912,
        1952
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.leadTemperature }}",
              "rightValue": "quente",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "107d2f77-1cf2-4d0e-a3fc-bc6249de7e2f",
      "name": "Check Lead Temperature",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3488,
        2064
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads Quentes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.leadName }}",
            "Email": "={{ $json.leadEmail }}",
            "Subject": "={{ $json.emailSubject }}",
            "Temperature": "={{ $json.leadTemperature }}",
            "Reason": "={{ $json.reason }}",
            "Summary": "={{ $json.summary }}",
            "Date Received": "={{ $json.receivedDate }}",
            "Status": "Novo"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Temperature",
              "displayName": "Temperature",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Received",
              "displayName": "Date Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f79e27fd-403c-41cd-a42b-364201aea10f",
      "name": "Add Hot Lead to CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3712,
        1968
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ab2xIF0aBwdBNHkB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.crmSpreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads Frios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.leadName }}",
            "Email": "={{ $json.leadEmail }}",
            "Subject": "={{ $json.emailSubject }}",
            "Temperature": "={{ $json.leadTemperature }}",
            "Reason": "={{ $json.reason }}",
            "Summary": "={{ $json.summary }}",
            "Date Received": "={{ $json.receivedDate }}",
            "Last Contact": "={{ $json.receivedDate }}",
            "Status": "Aguardando Follow-up"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Temperature",
              "displayName": "Temperature",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Received",
              "displayName": "Date Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Contact",
              "displayName": "Last Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "983520fc-7555-4cc2-a2d0-b3c158b48011",
      "name": "Add Cold Lead to CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3712,
        2160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ab2xIF0aBwdBNHkB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extract Lead Data').item.json.leadEmail }}",
        "subject": "=Re: {{ $json.emailSubject }}",
        "message": "=Olá {{ $json.leadName }},\n\nObrigado pelo seu interesse! Vimos que você está interessado em {{ $json.summary }}.\n\nFicamos muito felizes em poder ajudá-lo. Nossa equipe está preparando uma proposta personalizada baseada nas suas necessidades.\n\nEm breve entraremos em contato com mais detalhes sobre preços e próximos passos.\n\nAtenciosamente,\nEquipe de Vendas",
        "options": {}
      },
      "id": "35f3c434-5578-494f-b725-36db614dd460",
      "name": "Send Hot Lead Follow-up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3936,
        1968
      ],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extract Lead Data').item.json.leadEmail }}",
        "subject": "={{ 'Re: ' + $json.emailSubject }}",
        "message": "=Olá {{ $json.leadName }},\n\nObrigado por entrar em contato conosco!\n\nRecebemos sua mensagem sobre {{ $json.summary }}. Estamos aqui para ajudar com qualquer informação que você precisar.\n\nFique à vontade para responder este e-mail com qualquer dúvida adicional.\n\nAtenciosamente,\nEquipe de Atendimento",
        "options": {}
      },
      "id": "2bdb0663-1785-4ae7-adf6-a98340b79269",
      "name": "Send Cold Lead Follow-up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3936,
        2160
      ],
      "webhookId": "03312fa8-f811-4eb5-899b-3bb616ea727f",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "e0a2527b-0ec2-4111-8860-9a02c0b5b1a5",
      "name": "Daily Follow-up Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2240,
        2384
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.crmSpreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads Frios"
        },
        "options": {}
      },
      "id": "0ff28fea-8c6e-406a-8ed2-c0445da3efd5",
      "name": "Get Cold Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        2384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ab2xIF0aBwdBNHkB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $now.diff($json['Last Contact'], 'days') }}",
              "rightValue": "={{ $('Workflow Configuration').first().json.followUpDays }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9272edb8-57bd-4279-9690-635967249604",
      "name": "Check If 3 Days Passed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2688,
        2384
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.slackChannel }}"
        },
        "text": "=🔔 *Lembrete de Follow-up*\n\nO lead *{{ $json.Name }}* ({{ $json.Email }}) não respondeu há {{ $('Workflow Configuration').first().json.followUpDays }} dias.\n\n*Assunto:* {{ $json.Subject }}\n*Resumo:* {{ $json.Summary }}\n*Último Contato:* {{ $json[\"Last Contact\"] }}\n\nPor favor, faça o follow-up com este lead frio.",
        "otherOptions": {}
      },
      "id": "bde4e24b-4efe-4791-b73a-9c2adfa73030",
      "name": "Send Slack Reminder",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2912,
        2384
      ],
      "webhookId": "0bc6eada-8a38-45c1-9179-b545b1fed731",
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "leadTemperature",
              "value": "={{ $json.output.leadTemperature }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "reason",
              "value": "={{ $json.output.reason }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "leadName",
              "value": "={{ $('Extract Lead Data').item.json.leadName }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "leadEmail",
              "value": "={{ $('Extract Lead Data').item.json.leadEmail }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "emailSubject",
              "value": "={{ $('Extract Lead Data').item.json.emailSubject }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "receivedDate",
              "value": "={{ $('Extract Lead Data').item.json.receivedDate }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "373f86cc-cd10-4350-b077-33af74bd92b4",
      "name": "Merge AI Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3264,
        2064
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Monitor New Leads": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Extract Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Data": {
      "main": [
        [
          {
            "node": "Qualify Lead with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Qualify Lead with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lead Qualification Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Qualify Lead with AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check Lead Temperature": {
      "main": [
        [
          {
            "node": "Add Hot Lead to CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Cold Lead to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Hot Lead to CRM": {
      "main": [
        [
          {
            "node": "Send Hot Lead Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Cold Lead to CRM": {
      "main": [
        [
          {
            "node": "Send Cold Lead Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Follow-up Check": {
      "main": [
        [
          {
            "node": "Get Cold Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cold Leads": {
      "main": [
        [
          {
            "node": "Check If 3 Days Passed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If 3 Days Passed": {
      "main": [
        [
          {
            "node": "Send Slack Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualify Lead with AI": {
      "main": [
        [
          {
            "node": "Merge AI Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Results": {
      "main": [
        [
          {
            "node": "Check Lead Temperature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dc24e181-fbb6-49fd-91da-44ac52bd0a04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "5SDJrsWk5SLrMKnt",
  "tags": []
}
